---

---

<section class="w-full h-screen relative text-gray-600 body-font">
    <!-- Fondo con imagen y overlay -->

    <div
        class="flex lg:gap-12 gap-5 lg:max-w-6xl container mx-auto px-14 pt-44 md:flex-row flex-col items-center relative z-10"
    >
        <div
            class="lg:grow md:w-1/2 lg:pr-0 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
        >
            <h1
                class="title-font sm:text-4xl md:text-5xl text-5xl mb-4 font-medium text-(--color-secundary)"
            >
                Duis sagittis ipsum. Praesent mauris.
            </h1>
            <p
                class="mb-8 leading-relaxed font-light text-gray-700 md:text-[1.1em]"
            >
                Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent
                taciti sociosqu ad litora torquent.
            </p>
            <div class="flex justify-center">
                <a
                    class="inline-flex text-white bg-(--color-brand) border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                    >Button</a
                >
                <a
                    class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
                    >Button</a
                >
            </div>
        </div>
        <div class="md:w-1/2 w-5/6">
            <img
                class="object-cover object-center rounded opacity-0"
                alt="hero"
                src="https://dummyimage.com/720x600"
            />
        </div>
    </div>
</section>
